/* Box image container*/
.boxdetailP-image-grandWrapper {
    width: 450px;
    height: 500px;

    /* prevent from shrinking */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.boxdetailP-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

/* --------------------------==================== Box image and duplicate background effect ====================-------------------------- */
.boxdetailP-box-imgBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(12px);
    opacity: 0.45;
    scale: 1.15;
    z-index: 0;
}

.boxdetailP-box-imgBG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxdetailP-box-img {
    position: relative;
    margin-left: 10px;
    z-index: 0;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.boxdetailP-image-wrapper:hover .boxdetailP-box-img {
    filter: drop-shadow(-8px -8px 10px #7a7575);
    transform: scale(1.06);
    animation: boxdetailP-bounce 0.65s;
}

@keyframes boxdetailP-bounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.09);
    }

    60% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1.06);
    }
}


/* Vertical divider */
.boxdetailP-divider {
    width: 0.05rem;
    background-color: white;
    border-radius: 2px;
    margin: 0px 40px 20px 30px;
}

/* --------------------------==================== Box small review statistic container ====================--------------------------*/
.boxdetailP-info-content {
    --tabMain_bg: rgba(13, 19, 33, 0.795);
    background-color: var(--tabMain_bg);
    flex: 1;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--steel_gray-color);
    /* align-items: center; */
    padding: 30px 40px;
    overflow: visible;
}

/* --------------------------==================== Box info container ====================--------------------------*/
.boxdetailP-box-title {
    margin-bottom: 8px;
    text-align: left;
    font-size: 2.8rem;
    background: linear-gradient(to bottom,
            #FFFFFF 0%,
            #F1F1F1 30%,
            #D1D1D1 67%,
            #BDBDBD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boxdetailP-box-prize {
    --prizeText-color: rgb(208, 255, 226);
    margin-bottom: 20px;
    color: var(--prizeText-color);
    font-size: 2rem;
    filter: drop-shadow(3px 4px 6px rgb(33, 163, 7));
}

/* Quantity measument and Buy button */
.boxdetailP-quantyNbuy-container {
    display: flex;
    gap: 15px;
}

/* --------------------------==================== Quantity toggle ====================-------------------------- */
.boxdetailP-quantity-measure {
    width: 180px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1px;
}

.boxdetailP-quantity-iconWrapper-left,
.boxdetailP-quantity-iconWrapper-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background: var(--dark-5);
    cursor: pointer;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
}

.boxdetailP-quantity-iconWrapper-left:hover,
.boxdetailP-quantity-iconWrapper-right:hover {
    background: var(--dark-4);
}

.boxdetailP-quantity-iconWrapper-left:active,
.boxdetailP-quantity-iconWrapper-right:active {
    background: var(--dark-3);
    box-shadow: 0 2px 14px rgba(58, 51, 51, 0.25);
}

.boxdetailP-quantity-iconWrapper-left {
    border-radius: 10px 0 0 10px;
}

.boxdetailP-quantity-iconWrapper-right {
    border-radius: 0 10px 10px 0;
}

.boxdetailP-quantity-icon {
    width: 20px;
    height: 20px;
    filter: var(--lightSVG-1);
}

.boxdetailP-quantity-text {
    padding: 6px 12px;
    color: var(--light-1);
    font-size: 1.16rem;
    text-align: center;
    background: var(--dark-5);
    align-content: center;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxdetailP-quantity-input {
    width: 48px;
    text-align: center;
    background: transparent;
    border: none;
    color: var(--light-1);
    font-size: 1.16rem;
    font-family: 'Oxanium', sans-serif;
    outline: none;
    /* -moz-appearance: textfield; */
}

.boxdetailP-quantity-text input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}


.boxdetailP-quantity-input::-webkit-outer-spin-button,
.boxdetailP-quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* --------------------------==================== Buy dropdown button ====================-------------------------- */
.boxdetailP-buyDropdown-container {
    position: relative;
    display: inline-block;
    overflow: visible;
    /* Vô hiệu kéo-thả */
    -webkit-user-drag: none;
    /* Vô hiệu bôi đen chọn văn bản */
    user-select: none;
}

.boxdetailP-buyNow-button {
    position: relative;
    width: 100%;
    min-width: 380px;
    display: block;
    margin: 0 auto;
    padding: 8px 0;

    text-align: center;
    font-size: 18px;
    border: 0;
    background-image: var(--purpleGr-buyBtn);
    box-shadow: inset 0 -2px 25px -4px var(--light-3);
    color: var(--light-3);
    border-radius: 12px;
    border: 1px solid var(--light-2);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Yellow glow on hover */
.boxdetailP-buyNow-button:hover {
    background-image: var(--purpleGr-buyBtnOnhover);
    /* box-shadow: 0 0 2px 0px var(--secondary-5-o50), 0 0 12px 4px rgba(255, 255, 0, 0.3); */
}

/* Scale down on press */
.boxdetailP-buyNow-button:active {
    transform: scale(0.99);
    box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.3);
}

.boxdetailP-dropdown-menu {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--light-2-o90);
    padding: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 140px;
    z-index: 10;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.boxdetailP-dropdown-item {
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boxdetailP-dropdown-item:hover {
    background-color: var(--light-2);
    border-radius: 8px;
    margin: 0 2px;
    padding: 8px 10px;
}


/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/
/* -----------------======================= QUERY WOKE =======================------------------------*/
/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/

/* For screen width ≤ 790px */
@media (max-width: 790px) {
    .boxdetailP-image-grandWrapper {
        width: 350px;
        height: 400px;
    }

    .boxdetailP-info-content {
        padding: 20px 10px;
    }

    .boxdetailP-quantyNbuy-container {
        flex-direction: column;
    }

    .boxdetailP-buyNow-button {
        min-width: 180px;
        max-width: 100%;
        font-size: 16px;
        padding: 6px 0;
    }
}

/* For screen width ≤ 645px */
@media (max-width: 645px) {
    .boxdetailP-buyNow-button {
        min-width: 150px;
        font-size: 15px;
    }

    .boxdetailP-info-content {
        padding: 12px 10px;
    }

    .boxdetailP-box-title {
        font-size: 2rem;
    }

    .boxdetailP-box-prize {
        font-size: 1.2rem;
    }


    .boxdetailP-quantity-measure {
        width: 120px;
    }

    .boxdetailP-quantity-iconWrapper-left,
    .boxdetailP-quantity-iconWrapper-right {
        padding: 4px 8px;
    }

    .boxdetailP-quantity-iconWrapper-left {
        border-radius: 8px 0 0 8px;
    }

    .boxdetailP-quantity-iconWrapper-right {
        border-radius: 0 8px 8px 0;
    }

    .boxdetailP-quantity-icon {
        width: 16px;
        height: 16px;
    }

    .boxdetailP-quantity-text {
        padding: 4px 8px;
        font-size: 0.95rem;
    }
}

/* For screen width ≤ 480px */
@media (max-width: 480px) {
    .boxdetailP-image-grandWrapper {
        width: 250px;
        height: 300px;
    }

    .boxdetailP-buyNow-button {
        max-width: 100vw;
        min-width: 80px;
        font-size: 14px;
        padding: 7px 0;
    }

    .boxdetailP-info-content {
        padding: 10px 6px;
    }

    .boxdetailP-box-title {
        font-size: 1.2rem;
    }

    .boxdetailP-boxReview-container {
        width: 46%;
        padding: 4px 10px;
        font-size: 0.5rem;
    }

    .boxdetailP-quantity-measure {
        width: 90px;
    }

    .boxdetailP-quantity-iconWrapper-left,
    .boxdetailP-quantity-iconWrapper-right {
        padding: 2px 4px;
    }

    .boxdetailP-quantity-iconWrapper-left {
        border-radius: 6px 0 0 6px;
    }

    .boxdetailP-quantity-iconWrapper-right {
        border-radius: 0 6px 6px 0;
    }

    .boxdetailP-quantity-icon {
        width: 12px;
        height: 12px;
    }

    .boxdetailP-quantity-text {
        padding: 2px 4px;
        font-size: 0.7rem;
    }
}

/* For screen width ≤ 320px */
@media (max-width: 320px) {
    .boxdetailP-image-grandWrapper {
        width: 150px;
        height: 200px;
    }
}