.cartpage-container {
  overflow-x: hidden;
  margin-top: 50px;
}

.cartpage-search-filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 20px auto;
}


/* Main container inside tab (which used by both CartBoxList and CartProductList */
.cartpage-card-grid {
  display: flex;
  justify-content: center;
  background-color: #353c47;
  margin: 40px;
  border-radius: 16px;
  overflow: hidden;
  color: white;
}

.cartpage-left-section {
  flex: 1;
  padding: 2px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #353c47;
}

.cartpage-select-all {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  margin-left: -15px;
}

.cartpage-select-all-checkbox-wrapper {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

input.cartpage-product-checkbox,
input#cartpage-select-all-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--dark-1);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

input.cartpage-product-checkbox:checked,
input#cartpage-select-all-checkbox:checked {
  background-color: var(--secondary-5);
}

.cartpage-select-numCheck {
  font-size: 14px;
  color: var(--primary-1);
}

.cartpage-gradient-border {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to right, #DC0FFF, #FFD721);
  border-top-left-radius: 12px;
  z-index: 0;
}

.cartpage-product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartpage-product-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid rgba(25, 31, 44, 0.5);
  padding-bottom: 12px;
  gap: 90px;
  padding-inline: 50px;
}

.cartpage-product-item:last-child {
  border-bottom: none;
}

.cartpage-product-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.cartpage-product-box {
  display: flex;
  align-items: center;
  background-color: #656a74;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px 12px;
  flex: 1;
  gap: 7px;
  width: 380px;
  justify-content: space-between;
}

.cartpage-product-image {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.cartpage-product-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartpage-product-name {
  font-size: 20px;
  font-family: 'Oxanium', sans-serif;
  background: linear-gradient(to bottom,
      #FFFFFF 0%,
      #F1F1F1 30%,
      #D1D1D1 67%,
      #BDBDBD 100%);
  text-align: right;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cartpage-product-price {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: 'Oxanium', sans-serif;
}

.cartpage-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  /* khoảng cách giữa các phần tử */
  height: 36px;
}

.cartpage-quantity button {
  background-color: rgba(217, 217, 217, 0.31);
  border: none;
  color: black;
  font-size: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bo riêng từng góc theo yêu cầu */
.cartpage-quantity button:first-child {
  border-top-left-radius: 16px;
  border-bottom-right-radius: 5px;
}

.cartpage-quantity button:last-child {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 16px;
}

.cartpage-quantity span {
  background-color: #c4c4c4;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  /* nhẹ nhàng nếu cần */
}

.cartpage-clear-button {
  background-color: #a3a4a6;
  color: white;
  font-size: 24px;
  padding: 2px 50px;
  border: none;
  border-radius: 10px 0 30px 0;
  /* Tùy chỉnh góc nếu cần */
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cartpage-clear-button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.cartpage-clear-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 15px 0 33px 0;
  /* khớp với button */
  padding: 2px;
  background: linear-gradient(to right, #DC0FFF, #FFD721, #FF7F50);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}


.cartpage-summary {
  width: 200px;
  background-color: #3b3f47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #191F2C;
  border-radius: 0 16px 16px 0;
}

.cartpage-summary-price,
.cartpage-summary-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.cartpage-summary-price {
  border-top: none;
}

.cartpage-summary-title {
  font-size: 14px;
  color: #C0C0C0;
}

.cartpage-summary-value {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}


/* Footer section (Total + Buy btn) */
.cartpage-footer {
  /* xám đậm */
  background-color: #2f323a;
  position: sticky;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid black;
}

.cartpage-footer-content {
  display: flex;
  align-items: center;
  gap: 16px;

}

.cartpage-total {
  color: white;
  font-size: 18px;
}

#cartpage-total-value {
  font-size: 18px;
}

.cartpage-buy-button {
  /* màu tím */
  background-color: var(--purpleBG-buyBtn);
  font-size: 18px;
  color: white;
  padding: 8px 26px;
  border-radius: 6px;
  /* viền hồng */
  border: 2px solid var(--pinkBorder-buyBtn);
  cursor: pointer;
  transition: 0.3s ease;
}

.cartpage-buy-button:hover {
  background-color: var(--darkPurpleBG-buyBtn);
}


/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/
/* -----------------======================= QUERY WOKE =======================------------------------*/
/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/

/* For screen width ≤ 1080px */
@media (max-width: 1080px) {
  .cartpage-search-filter-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin: 20px 20%;
  }

  .cartpage-card-grid {
    flex-direction: column;
  }

  .cartpage-summary {
    width: 100%;
  }
}

/* For screen width ≤ 870px */
@media (max-width: 870px) {
  .cartpage-product-box {
    gap: 7px;
    width: 335px;
  }

  .cartpage-product-image {
    width: 60px;
    height: auto;
  }

  .cartpage-product-name,
  .cartpage-product-price {
    font-size: 18px;
  }

}

/* For screen width ≤ 765px */
@media (max-width: 765px) {
  .cartpage-search-filter-wrapper {
    margin: 20px 15%;
  }

  .cartpage-card-grid {
    margin: 30px;
  }

  .cartpage-product-item {
    gap: 10%;
    padding-inline: 2%;
  }
}

/* For screen width ≤ 695px */
@media (max-width: 695px) {
  .cartpage-product-item {
    flex-direction: column;
  }

  .cartpage-product-box {
    margin-bottom: 16px
  }
}

/* For screen width ≤ 505px */
@media (max-width: 505px) {
  .cartpage-product-box {
    padding: 6px 10px;
    gap: 5px;
    width: 285px;
  }

  .cartpage-product-image {
    width: 50px;
    height: auto;
  }

  .cartpage-product-name,
  .cartpage-product-price {
    font-size: 16px;
  }

  .cartpage-clear-button {
    font-size: 22px;
    padding: 2px 12%;
  }
}

/* For screen width ≤ 480px */
@media (max-width: 480px) {
  .cartpage-search-filter-wrapper {
    margin: 20px 6%;
  }

  .cartpage-card-grid {
    margin: 15px;
  }
}