
.shoppage-container {
  overflow-x: hidden;
}

.shoppage-divider {
  height: 0.1rem;
  background-color: white;
  border-radius: 2px;
  margin: 100px 100px 20px 100px;
}

/* Filter wrapper */
.shoppage-search-filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 7px;
  margin: 20px auto;
}


/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/
/* -----------------======================= QUERY WOKE =======================------------------------*/
/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/

/* For screen width ≤ 1000px */
@media (max-width: 1000px) {
  .shoppage-search-filter-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin: 20px 20%;
  }
}

/* For screen width ≤ 765px */
@media (max-width: 765px) {
  .shoppage-search-filter-wrapper {
    margin: 20px 15%;
  }
}

/* For screen width ≤ 480px */
@media (max-width: 480px) {
  .shoppage-search-filter-wrapper {
    margin: 20px 6%;
  }
}

