.userCollectionList-card-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 45px;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    /* Hide scrollbar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.userCollectionList-card-list-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}


/*  --------------------------==================== Main container (not include 'Load more' button) ====================-------------------------- */
.userCollectionList-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* This centers all items in their grid cells */
    justify-items: center;
    gap: 36px;
    width: 100%;
}


.userCollectionList-card-item {
    background-color: var(--dark-5);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    max-width: 220px;
    width: 220px;
    border: 2px solid var(--dark-2);
    position: relative;
    height: 270px;
    overflow: hidden;
    transition: all 0.2s ease;
}

/* Card Item Hover Effect */
.userCollectionList-card-item:hover {
    /* Must be 4-char alpha-hex make gradient border work */
    border: 2px solid #0000;
    background:
        linear-gradient(var(--dark-5), var(--dark-5)) padding-box,
        linear-gradient(#960BAF, #F8AC52) border-box;
}

/* Card Item Expanded State */
.userCollectionList-card-item--expanded {
    /* Must be 4-char alpha-hex make gradient border work */
    border: 2px solid #0000;
    background:
        linear-gradient(var(--dark-5), var(--dark-5)) padding-box,
        linear-gradient(#960BAF, #F8AC52) border-box;
}


/*  --------------------------================ Main Collection container  ==================-------------------------- */
/*  --------------------------====================( the image part) ====================-------------------------- */

/* The product duplicate image use for background */
.userCollectionList-card-background-preview {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    opacity: 0.5;
    z-index: 0;
}

/* Background when no image */
.userCollectionList-card-background-none {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-3-o80);
}

.userCollectionList-card-background-single {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    scale: 0.9;
    z-index: 0;
}

.userCollectionList-card-background-img-single {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userCollectionList-card-background-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userCollectionList-card-background-img-group {
    width: 50%;
    height: auto;
    object-fit: cover;
}

/* The product image use for display */
.userCollectionList-card-image-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    z-index: 0;
}

/* No image display (foreground text) */
.userCollectionList-card-image-preview.none {
    width: 90%;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--light-5);
    font-size: 1rem;
    font-style: italic;
    padding: 20px;
    background: var(--dark-3-o80);
    border-radius: 12px;
    border: 1px dashed var(--light-3);
}

.userCollectionList-card-image-preview.single {
    justify-content: center;
}

.userCollectionList-card-image-single {
    width: 75% !important;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.userCollectionList-card-image-preview.multi {
    flex-wrap: wrap;
    justify-content: center;
}

.userCollectionList-card-image-multi {
    width: 48%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/*  --------------------------================ Main Product container  ==================-------------------------- */
/*  --------------------------====================( the image part) ====================-------------------------- */

/* The product duplicate image use for background */
.userCollectionList-card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    opacity: 0.5;
    scale: 0.9;
    z-index: 0;
}

.userCollectionList-card-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* The product image use for display */
.userCollectionList-card-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75% !important;
    height: auto;
}


/* --------------------------==================== Info slide container bottom -> up ====================-------------------------- */
.userCollectionList-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px 12px 0 0;
    padding: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Toggle Arrow */
.userCollectionList-card-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*  --------------------------==================== Contain inside the bottom slide ====================--------------------------  */
.userCollectionList-card-title {
    text-align: left;
    font-size: 18px;
    color: var(--dark-4);
    margin-top: 10px;
    /* Truncate text to 2 lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* max 2 lines */
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    /* allow wrapping */
    white-space: normal;
}

.userCollectionList-card-quantity {
    color: var(--primary-2);
    font-size: 12px;
    text-align: right;
}


/* 'View Detail' / 'View Collection' and 'More' buttons */
.userCollectionList-card-actions {
    display: flex;
    gap: 6px;
    justify-content: space-between;
    margin-top: 12px;
}

/*  --------------------------==================== View Detail btn ====================--------------------------  */
.userCollectionList-view-button {
    flex: 1;
    border-radius: 10px;
    padding: 3px 15px;
    cursor: pointer;
    /* Must be 4-char alpha-hex make gradient border work */
    border: 2px solid #0000;
    background:
        linear-gradient(var(--light-2-o90), var(--light-2-o90)) padding-box,
        linear-gradient(#DC0FFF, #FFD721) border-box;
}

.userCollectionList-view-button-text {
    font-size: 16px;
    background: linear-gradient(#DC0FFF, #FFD721);
    background-clip: text;
    /* Standard property for compatibility */
    -moz-background-clip: text;
    /* Firefox */
    -ms-background-clip: text;
    /* Internet Explorer */
    -webkit-text-fill-color: transparent;
}

.userCollectionList-view-button:hover {
    border: 2px solid #0000;
    background:
        linear-gradient(var(--light-1-o90), var(--light-1-o90)) padding-box,
        linear-gradient(#DC0FFF, #FFD721) border-box;
}

/* --------------------------==================== More dropdown button ====================-------------------------- */
.userCollectionList-dropdown-container {
    position: relative;
    display: inline-block;
    /* Vô hiệu kéo-thả */
    -webkit-user-drag: none;
    /* Vô hiệu bôi đen chọn văn bản */
    user-select: none;
}

.userCollectionList-more-button {
    position: relative;
    padding: 6px 12px;

    border-radius: 12px;
    font-size: 16px;
    color: var(--dark-3);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    overflow: visible;
}

.userCollectionList-more-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    border: 2px solid transparent;
    background: linear-gradient(#DC0FFF, #FFD721) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.userCollectionList-more-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.userCollectionList-more-icon {
    width: 25px;
    height: 25px;
    filter: var(--lightSVG-1);
}


.userCollectionList-dropdown-item {
    padding: 8px 12px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.userCollectionList-dropdown-item:hover {
    background-color: var(--light-2);
    border-radius: 8px;
    margin: 0 2px;
    padding: 8px 10px;
}


/*   --------------------------==================== Load More Button ====================--------------------------  */
.userCollectionList-loadmore-button {
    margin: 40px auto 0 auto;
    padding: 4px 20px;
    border: 1px solid var(--secondary-2);
    border-radius: 10px;
    background: transparent;
    font-size: 14px;
    transition: background-color 0.3s ease;
    color: var(--primary-2);
    cursor: pointer;
}

.userCollectionList-loadmore-button:hover {
    background-color: rgba(255, 196, 0, 0.1);
}

/* End of content */
.userCollectionList-end-content {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: var(--primary-3);
    cursor: default;

    -webkit-user-drag: none;
    /* Disable drag functionality */
    user-select: none;
    /* Disable text selection */
    -webkit-touch-callout: none;
    /* Prevent text selection on iOS */
}